extends ../_layouts/_main-layout

block vars
	- var blog = true
	- var pageTitle = 'Posts written by'

block content

	.barba-container(data-namespace='blog')
		
		section#blog
			.container

				.section-title
					h2.fade-up Personal Blog

				.posts-container
					
					each post in site.views.blog
						article.post
							//- a(href=post._url.slice(0, -5))
							a(href=post._url)
								.post-title
									h2= post.title

								.post-meta
									span.date= post.date
									span.cat= post.category